<div id="<%= dom_id hero_power %>">
  <p>
    <strong>Strength:</strong>
    <%= hero_power.strength %>
  </p>

  <p>
    <strong>Hero:</strong>
    <%= hero_power.hero_id %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= hero_power.power_id %>
  </p>

</div>
