<h1>Editing hero power</h1>

<%= render "form", hero_power: @hero_power %>

<br>

<div>
  <%= link_to "Show this hero power", @hero_power %> |
  <%= link_to "Back to hero powers", hero_powers_path %>
</div>
